# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
*.egg-info/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/
tests/

# IDE
.idea/
.vscode/

# Documentation
*.md

# Alembic versions backup
alembic/versions/__pycache__/

# Logs
*.log
