.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .app__content {
    padding-bottom: 0;
  }
}